@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi-Variable.ttf') format('truetype');
}

body {
  color: var(--foreground);
  background: var(--background);
  cursor: none;
}

a {
  cursor: none;
}

.custom-cursor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0;
}

.cursor-text {
  font-family: 'Satoshi';
  font-size: 5px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: none;
  mix-blend-mode: difference;
  padding-top: 2px;
  padding-left: 1px;
}
